# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.spec

# Virtual Environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# Excel files
*.xlsx
*.xls

# Windows
Thumbs.db